.header {
    padding: 5px;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    z-index: 100;
    top: 0;
    background-color: #039be5;
}

.header__left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex: 0.7;
    height: max-content;
}

.header__left > h2 {
    height: 40px;
    margin-left: 40px;
}

.header__right {
    align-content: center;
}

.ac_btn > a {
    color: blue;
    background-color: black;
    padding: 5px 10px;
    padding-top: 20px;
    margin-right: 50px;
    border: 1px solid black;
    border-radius: 50%;
}

.ac_btn > a > img {
    height: 32px;
    width: 32px;
    /* margin-top: 10px; */
}

.icon > img {
    height: 50px;
    width: 50px;
    align-items: center;
    margin-left: 50px;
}


 
