.chatbox {
    height: 100%;
    padding-bottom: 100px;
    /* background-image: url("../assets/backgrnd.png"); */
}

/*.contact__option {
    width: 15rem;
    margin-left: 360px;
    height: 100px;
}*/

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 85px;
}